<div class="footer two">
	<div class="footer-grid">
		<h3>Navigation</h3>
		<ul class="list1">
		 <li><%=link_to "Home",root_path %></li> 
		  <li><%=link_to "New Story",new_story_path %></li> 
		  <li><%=link_to "Contact",contact_path %></li> 
	    </ul>
	</div>
	<div class="footer-grid">
		<h3>Our Account</h3>
	    <ul class="list1">
		  <li><a href="#" data-toggle="modal" data-target="#myModal5">Your Account</a></li>
		  <li><%=link_to "Personal information",contact_path %></li>
		  <li><%=link_to "Addresses",contact_path %></li>
		  <li><%=link_to "Contact",contact_path %></li>
		  <li><%=link_to "Social Links",contact_path %></li>
	</div>
	<div class="footer-grid">
		<h3>Our Support</h3>
		<ul class="list1">
		  <li><a href="contact.html">Site Map</a></li>
		  <li><a href="#">Search Terms</a></li>
		  <li><a href="#">Advanced Search</a></li>
		  <li><a href="#">Mobile</a></li>
		  <li><a href="contact.html">Contact Us</a></li>
		  <li><a href="#">Mobile</a></li>
		  <li><a href="#">Addresses</a></li>
	    </ul>
	  </div>
	  <div class="footer-grid">
		<h3>Newsletter</h3>
		<p class="footer_desc">Stay update with Corruption Issues. Sign to get Ungli Newsletter.</p>
		<div class="search_footer">
		</div>
	 </div>
	 <div class="footer-grid footer-grid_last">
		<h3>About Us</h3>
		<p class="footer_desc">Enthusiatic Developers of Indian Institute of Information Technology. </p>
		<p class="f_text">Phone:  &nbsp;&nbsp;&nbsp;999-250-2131</p>
		<p class="email">Email : &nbsp;<span><a href="mailto:mail@example.com">zuck@abc.xyz</a></span></p>	
	 </div>
	 <div class="clearfix"> </div>
</div>