<div id="page-wrapper">
	<div class="inner-content">
		<!-- /blog -->
			<div class="tittle-head">
				<% if flash.any?%>
					<div class="alert alert-success alert-dismissible" role="alert">
					   	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true	">&times;</span></button>
					   	<h4><%= flash[:notice]%></h4>
					</div>
				<% end %>	
				<h3 class="tittle">Stories</h3>
				<div class="clearfix"> </div>
			</div>
			<!-- /music-left -->
			<div class="music-left">
			<% @stories.each do |story| %>
				<div class="post-media">
					<%= link_to (image_tag "33",class:"img-responsive"),story %>
					  <div class="blog-text">
					  		<%=link_to story do %>
								<h3 class="h-t"><%= story.name %></h3>
							<% end %>
					      <div class="entry-meta">
								<h6 class="blg"><i class="fa fa-clock-o"></i><%=time_ago_in_words(story.created_at) %> ago</h6>
								<div class="icons">
									<% unless story.privacy_id == 1 %>
										<%= link_to story.user do %>
											<i class="fa fa-user"></i><%=story.user.name %>
										<% end %>
									<% else%>
											<i class="fa fa-user"></i>Anonymous
									<% end %>
									<a href="#"><i class="fa fa-eye"></i><%= story.impressionist_count%></a>
									<a href="#"><i class="fa fa-thumbs-o-up"></i> 152</a>
									<a href="#"><i class="fa fa-thumbs-o-down"></i>  26</a>
								</div>
									<div class="clearfix"></div>
								<p><%=story.description %></p>
						  </div>
					  </div>
				</div>
			<% end %>
				<!--start-blog-pagenate-->
					<!--//end-blog-pagenate-->

			</div>
			<!-- //music-left-->
			<!-- /music-right-->
			<div class="music-right">
				<!-- //widget -->
				  	<div class="widget-side">
					<h4 class="widget-title">Recent Stories</h4>
						<ul>
							<% @stories.each do |story| %>
								<li>
									<%= link_to story.name,story %>
									<span class="post-date"><%= story.created_at.strftime("%d %B %Y") %></span>
								</li>
							<% end %>
						</ul>
					</div>
					 <div class="widget-side second">
					<h4 class="widget-title">Top Stories</h4>
						<ul>
							<% @stories.each do |story| %>
								<li>
									<div class="song-img">
									  <%=link_to (image_tag "play1",class:"img-responsive"),story %>
									</div>
									<div class="song-text">
										<%=link_to story.name,story %>
										<span class="post-date"><%= story.created_at.strftime("%d %B %Y")%></span>
									</div>
									<div class="clearfix"></div>
								</li>
							<% end %>
						</ul>
					 </div>
				  <!-- //widget -->
			</div>
			<div class="clearfix"></div>
			<!-- //blog -->
		</div>
	<div class="clearfix"></div>
	<!--body wrapper end-->

</div>